.bg{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;


}

.info{
 color: grey;
 opacity: 80%;
 font-size: small;
 text-align: center;
}





.footerlinks{
  margin-left: 70%;

  align-content: center;
}
.footerlinks a{
  padding-right: 10px;
  color: black;

}
